.grid-block,
.main,
.request,
.new-request,
.comments li,
.comment-form {
    background: #FF9B27;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: #007DB2;
    color: #007DB2;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none !important;
}

#help-request {
    position: relative;
    text-align: center;
    color: #FF9B27;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

#help-request a {
    color: #FF9B27;
}

#help-request a:hover {
    color: #FF9B27;
}

#main {
    position: relative;
}
.page {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar {
    background: #FF9B27;
    border: none;
    text-align: center;
    margin-bottom: 10px;
}
/* line 32, ../sass/style.scss */
.navbar .navbar-header {
    text-align: center;
}

.navbar .navbar-inner {
    border: none;
}

.navbar .navbar-brand {
    color: #007DB2;
    text-align: center;
    float: none;
    padding-top: 10px;
}

#spinner {
    height: 300px;
}
.request {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */

    *zoom: 1;
    position: relative;
    opacity: 1;
}
.request:before,
.request:after {
    content: "";
    display: table;
}
.request:after {
    clear: both;
}
.request.invisible {
    opacity: 0;
}
.request.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.request.animate {
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.request .request-content {
    float: left;
}
.request .request-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}
.request .request-content h3 a {
    display: inline-block;
    margin-right: 5px;
}
.request .request-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}
.request .request-content p {
    margin: 0;
}
.request .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}

.request .title {
    font-size: 24px;
}

.request .requester {
    font-size: 20px;
    margin-bottom: 5px;
}

.request .description {
    font-size: 16px;
    margin-bottom: 20px;
}

.request .confusion-level img {
    height: 300px;
    margin-bottom: 20px;
}

.comments {
    list-style-type: none;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.comments li {
    border: none;
    padding: 0;
    width: 100%;
}

.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.comments li h4 a {
    font-size: 12px;
}

.comments li p {
    margin-bottom: 15px;
}

.comments img {
    width: 20px;
}

.comments .upvote {
    color: #0FCF00;
}

.comments .downvote {
    color: #BE2E21;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.requests .spinner-container {
    position: relative;
    height: 100px;
}
.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}